.vscode/
/build/
/rhyme_rus.egg-info/
/.pytest_cache/
/dist/
.idea/
/tests/.pytest_cache/
tests/__pycache__/
stderr.log
venv_rhyme_rus
.env
draft_test.ipynb
__pycache__
draft.ipynb
rhyme_rus/utils/__pycache__/
sqlite3.exe
draft.py
