atomicwrites==1.4.1
attrs==21.4.0
#bpuild==0.8.0
colorama==0.4.5
dill==0.3.5.1
et-xmlfile==1.1.0
iniconfig==1.1.1
ipapy @ git+https://github.com/EugenefedorovPro/ipapy_eugene.git@1cb62fa932b0ba0dc530bde5e6469a8e70b2c820
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pep517==0.12.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tomli==2.0.1
